
.app-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background: url('https://static.onthebeach.co.uk/fe-code-test/background.png');
    padding: 60px;
    @media (max-width: 768px) {
        display: flex;
        grid-template-columns: none;
        flex-direction: column;
        padding: 20px;
    }
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 1px;
    justify-self: center;

    button {
        background-color: #FFF;
        border: none;
        color: #17317F;
        padding: 16px;
        text-align: left;
        font-size: 16px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;

        &.active {
            background-color: #17317F;
            color: #FFF;
        }
    }
}

.holiday-container {
    background-color: #FFF;
    display: grid;
    grid-template-columns: 1.5fr 1fr;

    .overview {
        h4 {
            color: #17317F;
            margin: 12px 0;
        }
        grid-column: 1 / -1;
        padding: 16px;
    }
}

.holiday-image {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
    }
    .read-more {
        display: flex;
        cursor: pointer;
        justify-content: space-between;
        background-color: #FFF;
        border: none;
        color: #17317F;
        padding: 12px;
        width: 250px;
        position: absolute;
        left: 0;
        bottom: 0;

        @media (max-width: 768px) {
            font-size: 8px;
            width: 150px;
        }
    }
}

.holiday-description {
    padding: 24px;
    display: flex;
    flex-direction: column;
    h2 {
        margin: 0;
        color: #17317F;
    }

    p {
        margin: 8px 0;
    }

    button {
        width: 100%;
        height: 100%;
        cursor: pointer;
        color: #17317F;
        background-color: #FEDC07;
        border-radius: 5px;
        border: none;
        h1, h3 {
            margin: 0;
        }
    }

    @media (max-width: 768px) {
        padding: 8px;
        h2 {
            font-size: 12px;
        }
        p {
            font-size: 8px;
        }
        button {
            h1, h3 {
                font-size: 10px;
            }
        }
    }
}

.region {
    color: #CCC;
}

.star-icon {
    fill: #FEDC07;
}

.right-col {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button-icon {
    padding: 0;
}
